# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System
.DS_Store
Thumbs.db

# Angular
.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Environment
.env
.env.local
